body {
    background-color: #4728d4;
}

.field {
    display: flex;
    padding: 10px;
    width: 25%;
    margin-left: 37.5%;
    color: #fff;
    font-size: 1.3em;
    flex-direction: column;
    align-items: center;
}

textarea:focus {
    border: 1.5px solid #6d79cd;
}

.btn.success {
    background-color: #4fc966;
    border: 2px solid #2aa24f;
}

.btn.red {
    background-color: #dda66d;
    border: 2px solid #b6821a;
}

.btn.new {
    background-color: #dd567e;
    border: 2px solid #c93964;
    margin-bottom: 10px;
}

.box {
    border: 2px solid #aaa719;
    background-color: #d4d37f;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
}

.box:last-child {
    margin-bottom: 0;
}

button.btn {
    margin-right: 10px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 0.65em;
    color: #fff;
    outline: none;
}

.btn.light {
    background-color: #4eafc9;
    border: 2px solid #2a89a2;
}

.btn.red {
    background-color: #dda66d;
    border: 2px solid #b6821a;
}

.btn.light:hover {
    background-color: #2a89a2;
    border-color: #1d6f85;
}

.btn.red:hover {
    background-color: #b6821a;
    border-color: #946912;
}

.btn.success:hover {
    background-color: #2aa24f;
    border: 2px solid #1e853e;
}

.btn.new:hover {
    background-color: #c93964;
    border: 2px solid #ac254d;
}

textarea {
    resize: none;
    background-color: #fafafa;
    border: 1.5px solid silver;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.7em;
}

textarea:focus {
    border: 1.5px solid #6d79cd;
}